@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(24px);
	}
	100% {
		opacity: 1;
	}
}

.rotate {
	position: absolute;
	width: 120px;

	top: 4px;
	left: 0;

	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 24s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@include responsive(800px) {
	// .rotate {
	// 	display: none;
	// }

	.rotate {
		top: 4px;
		left: 0;
	}
}
