.s-contact {
    margin-top: 15.2rem;
    padding-bottom: 15.2rem;

    .d-flex {
        display: flex;
        justify-content: space-between;

        .gallery {
            width: 50%;
        }

        .form {
            width: 40%;
        }
    }

    // h2 {
    //     font-size: 3.8rem;
    //     margin-bottom: 8rem;
    //     text-align: center;
    // }

    h4{
        font-size: 2.5rem;
        margin-bottom: $gutter*2;
    }

    a,p{
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        margin-bottom: $gutter;
        color: $gray-dark;

        img{
            margin-right: $gutter;
        }
    }
    
    iframe{
       margin-bottom: $gutter*2;
    }

    form {
        // width: 40%;
        padding: 20px;
        background-color: $white;
        border-radius: 20px;

        box-shadow: 3px 7px 19px -6px #d3e8ff;
    }

    label {
        display: block;
        margin: $gutter * 2 0 2px;
        font-size: 1.4rem;
    }

    input {
        width: 100%;
        height: 40px;
        border: 1px solid #cee2ec;
        border-bottom: 1px solid #cee2ec;
        background: rgba(0, 0, 0, 0);
        font-size: 14px;
        color: #6b5d7b;
        padding: 10px 0 10px 16px;
        border-radius: 80px;
        &:focus {
            border: 1px solid $main;
        }
    }

    textarea {
        width: 100%;
        border: 1px solid #cee2ec;
        border-bottom: 1px solid #cee2ec;
        background: rgba(0, 0, 0, 0);
        font-size: 14px;
        color: #6b5d7b;
        padding: 10px 0 10px 16px;
        border-radius: 16px;
        &:focus {
            border: 1px solid $main;
        }
    }
}

@include responsive(800px) {
    .s-contact{
        .d-flex{
            flex-direction: column;
            .gallery{
                width: 100%;
            }
            .form{
                width: 100%;
                margin-top:$gutter*2;
                padding: 20px;
            }
        }
    }
}